# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
package-lock.json
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

pinterest-server/node_modules
pinterest-server/public/hot
pinterest-server/public/uploads
pinterest-server/storage/*.key
pinterest-server/vendor
pinterest-server/.env
pinterest-server/.env.backup
pinterest-server/.phpunit.result.cache
pinterest-server/Homestead.json
pinterest-server/Homestead.yaml
pinterest-server/npm-debug.log
pinterest-server/yarn-error.log